<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Character</title>
</head>

<body>
    <div>
        <a href="/">Home</a>
        <a href="/characters">Characters</a>

        {{#if user}}{{else}}
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
        {{/if}}
        {{#if user}}
        <div>
            <form action="/auth/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
        </div>
        {{/if}}
    </div>
    <h1>Edit Character</h1>

    <form action="/characters/edit/{{character._id}}?_method=PUT" method="POST" enctype="multipart/form-data">

        <label>
            <p>Name</p>
            <input name="name" type="text" value="{{character.name}}" required>
        </label>

        <label>
            <p>Level</p>
            <input name="level" type="number" required value="{{character.level}}">
        </label>

        <label>
            <p>Class</p>
            <select name="characterClass" type="text">
                {{#each classes}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </label>

        <label>
            <p>Race</p>
            <select name="race" type="text">
                {{#each races}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </label>

        {{!-- Consultar si se puede crear una vista dinámica para los atributos --}}
        {{!-- <label>
            <p>Attributes</p>
            <select name="attributes" value="human">
                <option value=""></option>
            </select>
        </label> --}}

        <label>
            <p>Avatar</p>
            <input type="file" name="image">
        </label>

        <div>
            <button type="submit">Save Character</button>
        </div>

        {{#if error}}
        <div style="color: red">{{error}}</div>
        {{/if}}
    </form>
</body>

</html>