<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Characters</h1>

    <div>
        <a href="/">Home</a>
        <a href="/classes">Classes</a>
        {{#if isAdmin}}
        <a href="/characters/create">Create</a>
        {{/if}}
    </div>
    {{#if user}}
    <form action="/auth/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
    {{/if}}

    <ul>
        {{#each characters}}
        <li>
            {{#if image}}
            <img class="" src="{{image}}" alt="">
            {{/if}}
            <h4>
                <h4>
                    Name: {{name}}
                </h4>
            </h4>
            <h4>Level: {{level}}</h4>
            <h4>Class: {{characterClass}}</h4>
            <h4>Race: {{race}}</h4>
            <h4>Attributes:</h4>
            <p>ATK: {{attributes.attack}}</p>
            <p>DEF: {{attributes.defense}}</p>
            <p>HP: {{attributes.healthPoints}}</p>
            <p>Crit. Rate: {{attributes.criticalRate}}</p>
            <p>Crit. Dmg: {{attributes.criticalDamage}}</p>

            {{#if ../isAdmin}}
            <div>
                <a href="/characters/edit/{{_id}}">
                    <button>Edit Character</button>
                </a>
            </div>
            {{/if}}
            {{#if ../user}}
            <form action="/characters/delete/{{_id}}?_method=DELETE" method="POST">
                <button type="submit">Delete Character</button>
            </form>
            {{/if}}
        </li>
        <hr>
        {{/each}}
    </ul>
</body>

</html>