<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Character</title>
</head>

<body>
    <h1>New Character</h1>

    <a href="/">Home</a>
    <a href="/characters">Characters</a>
    {{#if user}}{{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    {{/if}}
    {{#if user}}
    <div>
        <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </div>
    {{/if}}

    <form action="/characters/create" method="POST" enctype="multipart/form-data">

        <label>
            <p>Name</p>
            <input name="name" type="text" required placeholder="Name">
        </label>

        <label>
            <p>Class</p>
            <select name="characterClass" type="text">
                {{#each classes}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </label>

        <label>
            <p>Race</p>
            <select name="race" type="text">
                {{#each races}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </label>

        {{!-- Consultar si se puede crear una vista dinámica para los atributos --}}
        {{!-- <label>
            <p>Attributes</p>
            <select name="attributes" value="human">
                <option value=""></option>
            </select>
        </label> --}}

        <label>
            <p>Avatar</p>
            <input type="file" name="image" accept="jpeg,png,jpg" required>
        </label>

        <div>
            <button type="submit">Create character</button>
        </div>

        {{#if error}}
        <div style="color: red">{{error}}</div>
        {{/if}}
    </form>
</body>

</html>