<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Classes</h1>

    <div>
        <a href="/">Home</a>
        <a href="/characters">Characters</a>
        {{#if isAdmin}}
        <a href="/classes/create">Create class</a>
        {{/if}}
    </div>
    {{#if user}}
    <form action="/auth/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
    {{/if}}

    <ul>
        {{#each classes}}
        <li>
            <h4>
                Name: {{name}}
            </h4>
            <h4>Characters: {{characters}}</h4>
            <p></p>
           
            <h4>Attributes:</h4>
            <p>ATK: {{classAttributes.class_attack}}</p>
            <p>DEF: {{classAttributes.class_defense}}</p>
            <p>HP: {{classAttributes.class_healthPoints}}</p>
            <p>Crit. Rate: {{classAttributes.class_criticalRate}}</p>
            <p>Crit. Dmg: {{classAttributes.class_criticalDamage}}</p>

            {{!-- {{#if ../isAdmin}}
            <div>
                <a href="/classes/edit/{{_id}}">
                    <button>Edit Class</button>
                </a>
            </div>
            {{/if}}
            {{#if ../user}}
            <form action="/classes/delete/{{_id}}?_method=DELETE" method="POST">
                <button type="submit">Delete Class</button>
            </form>
            {{/if}} --}}
        </li>
        <hr>
        {{/each}}
    </ul>
</body>

</html>