<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Class</title>
</head>

<body>
    <h1>New Character</h1>

    <a href="/">Inicio</a>
    <a href="/classes">Classes</a>
    {{#if user}}{{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    {{/if}}
    {{#if user}}
    <div>
        <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </div>
    {{/if}}

    <form action="/classes/create" method="POST">

        <label>
            <p>Class</p>
            <input name="name" type="text" required placeholder="Knight">
        </label>

        <h4>Attributes</h4>
        <label>
            <p>Attack</p>
            <input name="class_attack" type="number" required min=0>
        </label>
        <label>
            <p>Defense</p>
            <input name="class_defense" type="number" required min=0>
        </label>
        <label>
            <p>Health Poins</p>
            <input name="class_healthPoints" type="number" required min=0>
        </label>
        <label>
            <p>Critical Rate</p>
            <input name="class_criticalRate" type="number" required min=0>
        </label>
        <label>
            <p>Critical Damage</p>
            <input name="class_criticalDamage" type="number" required min=0>
        </label>

        <div>
            <button type="submit">Create class</button>
        </div>

        {{#if error}}
        <div style="color: red">{{error}}</div>
        {{/if}}
    </form>
</body>

</html>