<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{status}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>We have an error {{ status }} </h1>
    <a href="/">Inicio</a>
    <h4>{{message}}</h4>
</body>
</html>