<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <h2>{{ title }} {{ user.name }}</h2>

    <div>
        <div>
            {{#if user}}{{else}}
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Register</a>
            {{/if}}
            <a href="/characters">Characters</a>
            <a href="/classes">Classes</a>
            {{!-- <a href="/races">Razas</a> --}}
            
            {{#if user}}
            <div>
                <form action="/auth/logout" method="POST">
                    <input type="submit" value="Logout">
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</body>

</html>