<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <a href="/">Home</a>
    <a href="/auth/register">Register</a>
    
    <form action="/auth/login" method="POST">

        <label>
            <p>Email</p>
            <input name="email" type="email" required placeholder="email">
        </label>

        <label>
            <p>password</p>
            <input name="password" type="password" required placeholder="password">
        </label>

        <button type="submit">Login</button>

    </form>
    {{#if error}}
        <div style="color: red">{{error}}</div>
    {{/if}}
</body>
</html>